.dialogue .chell[data-character="chell_wheatley"] {
  /*Chell's color*/
  color: #606060;
}

.dialogue .shrink[data-character="chell_wheatley"] {
  /*for long lines*/
  font-size: 85%;
  line-height: 1.6rem;
  display: block;
}

.dialogue-bubble.longline:hover {
  z-index: 1000;
}