.dialogue .chell[data-character="chell_wheatley"] {
  /*Chell's color*/
  color: #606060;
}

.dialogue .shrink[data-character="chell_wheatley"] {
  /*for long lines*/
  font-size: 85%;
  line-height: 1.6rem;
  display: block;
}

.dialogue .ddlalert {
  /*for the DDL notif*/
  border-style: solid;
  border-width: 0.125rem;
  border-color: #000;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 85%;
  line-height: 1.6rem;
  display: block;
  background-color: #c0c0c0;
}

.dialogue-bubble.longline:hover {
  z-index: 1000;
}