.dialogue .shadow[data-character="rouge"] {
  /*Imitating Shadow the Hedgehog's voice.*/
  color: Black;
  text-shadow: -1px -1px 0 Red;
  font-weight: 700;
}

.dialogue .tandemFluttershy[data-character="rouge"] {
  /*For when Fluttershy is speaking in tandem poses.*/
  color: #DA74B1;
}

.dialogue .tandemFluttershySmall[data-character="rouge"] {
  /*For when Fluttershy is speaking quietly in tandem poses.*/
  color: #DA74B1;
  font-size: 75%;
}