.dialogue .tao[data-character="hu_tao"] {
  /*hutao is speaking*/
  color: #AE0000;
}

.dialogue .leon[data-character="hu_tao"] {
  /*leon is speaking*/
  color: #00509F;
  font-style: italic;
}