.dialogue .small[data-character="nami"] {
  /*small font*/
  font-size: 80%;
}

.dialogue .nami[data-character="nami"] {
  /*Nami is talking*/
  color: #DF7000;
  font-weight: 700;
}

.dialogue .shantae[data-character="nami"] {
  /*Shantae is talking*/
  color: #400080;
  font-weight: 700;
}

.dialogue .zeus[data-character="nami"] {
  /*Zeus is talking*/
  color: #0080FF;
  font-weight: 700;
}

.dialogue .robin[data-character="nami"] {
  /*Robin is talking*/
  color: Purple;
  font-weight: 700;
}