.dialogue .small[data-character="nami"] {
  /*small font*/
  font-size: 80%;
}

.dialogue .nami[data-character="nami"] {
  /*Nami is talking*/
  color: #DF7000;
}

.dialogue .shantae[data-character="nami"] {
  /*Shantae is talking*/
  color: #400080;
}