.dialogue .example[data-character="jim"] {
  /*This is an example style.*/
  color: blue;
}

.dialogue .small[data-character="jim"] {
  /*The name says it all, don't it?*/
  display: block;
  font-size: 93%;
}