.dialogue .ahrah[data-character="dust"] {
  /*To be used when Ahrah is speaking.*/
  font-variant: small-caps;
  color: #0000A0;
  font-style: italic;
}

.dialogue .fidget[data-character="dust"] {
  /*To be used when Fidget is speaking.*/
  color: #FF8040;
  font-style: italic;
}