# ignore the config file
config.xml

# ignore logging and debug files from tools
## unique line counting tool
**/line_count.log
## XML safety validator
**/safety_validation.log
**/safety_validation_multi.log
**/safety_validation_details.log
__pycache__
*.pyc

bin
obj
.vs
*.user
*.bak
opponents/wiifitfemale/behaviour.xml
opponents/wiifitfemale/edit-dialogue.txt

desktop.ini
config.xml
