
*.bak
bin/
obj/
opponents/calisto/uniqueposes.txt
opponents/calisto/poses.txt
opponents/calisto/newmodeltemplate1.txt
opponents/calisto/a-aa finish yell.png
opponents/franziska/a-aa finish yell.png
opponents/franziska/a-objection.png
opponents/franziska/a-pointbare.png
opponents/franziska/a-pointglove.png
opponents/franziska/a-pointshirt.png
opponents/franziska/edit-dialogue.txt
opponents/franziska/female epilogue.txt
opponents/franziska/poses.txt
attachments/calisto/a-compact.png
attachments/calisto/a-ear.png
attachments/calisto/a-headplaceholder.png
attachments/calisto/a-lipstick.png
attachments/calisto/aa finish yell.png
attachments/calisto/aa%20finish%20yell.png
attachments/franziska/a-pointbare.png
attachments/franziska/a-pointglove.png
attachments/franziska/a-pointshirt.png
attachments/franziska/aa finish yell.png
attachments/franziska/aa%20finish%20yell.png
attachments/franziska/objection.png
opponents/asuka/poses.txt
opponents/asuka/template r1.txt
opponents/calisto/a-buttposebackup.png
opponents/calisto/a-pointhand0-2.png
opponents/calisto/a-pointhand3-4.png
opponents/calisto/a-pointhand5-10.png
opponents/calisto/edit-dialogue.txt
opponents/franziska/a-epilogue-bg.png
opponents/franziska/a-epilogue-fcrop.png
opponents/franziska/a-epilogue-fcrop2.png
opponents/franziska/a-epilogue-fgift.png
opponents/franziska/a-epilogue-fphone.png
opponents/franziska/a-presenthand0.png
opponents/franziska/a-presenthand1-3.png
opponents/franziska/a-presenthand4-10.png
