# ignore the config file
config.xml

# ignore logging and debug files from tools
## unique line counting tool
**/line_count.log
## XML safety validator
**/safety_validation.log
**/safety_validation_multi.log
**/safety_validation_details.log
__pycache__
*.pyc

bin
obj
.vs
*.user
*.bak
opponents/wiifitfemale/behaviour.xml
opponents/wiifitfemale/edit-dialogue.txt

desktop.ini
config.xml
tools/kkl/dist/k_kisekae2_swf/mune14.swf
tools/kkl/dist/k_kisekae2_swf/mob3.swf
tools/kkl/dist/k_kisekae2_swf/mark8.swf
tools/kkl/dist/k_kisekae2_swf/mainwindow6.swf
tools/kkl/dist/k_kisekae2_swf/hukidashi3.swf
tools/kkl/dist/k_kisekae2_swf/head41.swf
tools/kkl/dist/k_kisekae2_swf/hane.swf
tools/kkl/dist/k_kisekae2_swf/hand1_26.swf
tools/kkl/dist/k_kisekae2_swf/hand0_5.swf
tools/kkl/dist/k_kisekae2_swf/hairEx7.swf
tools/kkl/dist/k_kisekae2_swf/flag0.swf
tools/kkl/dist/k_kisekae2_swf/dou29.swf
tools/kkl/dist/k_kisekae2_swf/charaSet1.swf
tools/kkl/dist/k_kisekae2_swf/character4.swf
tools/kkl/dist/k_kisekae2_swf/chair13.swf
tools/kkl/dist/k_kisekae2_swf/bura6.swf
tools/kkl/dist/k_kisekae2_swf/belt10.swf
tools/kkl/dist/k_kisekae2_swf/background5.swf
tools/kkl/dist/k_kisekae2_swf/ashi11.swf
tools/kkl/dist/k_kisekae2_swf/allCharaSet.swf
tools/kkl/dist/k_kisekae2.swf
tools/kkl/dist/Adobe AIR/Versions/1.0/Resources/WebKit/Notice WebKit.txt
tools/kkl/dist/Adobe AIR/Versions/1.0/Resources/WebKit/LGPL License.txt
tools/kkl/dist/Adobe AIR/Versions/1.0/Resources/WebKit.dll
tools/kkl/dist/Adobe AIR/Versions/1.0/Resources/NPSWF32.dll
tools/kkl/dist/Adobe AIR/Versions/1.0/Resources/CaptiveAppEntry.exe
tools/kkl/dist/Adobe AIR/Versions/1.0/Resources/adobecp.vch
tools/kkl/dist/Adobe AIR/Versions/1.0/Resources/Adobe AIR.vch
tools/kkl/dist/Adobe AIR/Versions/1.0/Resources/.DS_Store
tools/kkl/dist/Adobe AIR/Versions/1.0/Adobe AIR.dll
tools/kkl/dist/Adobe AIR/Versions/1.0/.DS_Store
tools/kkl/dist/Adobe AIR/Versions/.DS_Store
tools/kkl/dist/Adobe AIR/.DS_Store
tools/kkl/dist/.DS_Store
tools/kkl/.DS_Store
tools/character_editor/SPNATI Character Editor 1.16b/xml_encoding.txt
tools/character_editor/SPNATI Character Editor 1.16b/SPNATI Character Editor.exe.config
tools/character_editor/SPNATI Character Editor 1.16b/SPNATI Character Editor.exe
tools/character_editor/SPNATI Character Editor 1.16b/KisekaeImporter.dll
tools/character_editor/SPNATI Character Editor 1.16b/Help/wardrobe.html
tools/character_editor/SPNATI Character Editor 1.16b/Help/validation.html
tools/character_editor/SPNATI Character Editor 1.16b/Help/topic.css
tools/character_editor/SPNATI Character Editor 1.16b/Help/poses.html
tools/character_editor/SPNATI Character Editor 1.16b/Help/overview.html
tools/character_editor/SPNATI Character Editor 1.16b/Help/metadata.html
tools/character_editor/SPNATI Character Editor 1.16b/Help/listing.html
tools/character_editor/SPNATI Character Editor 1.16b/Help/images/tester.png
tools/character_editor/SPNATI Character Editor 1.16b/Help/images/template_preview.png
tools/character_editor/SPNATI Character Editor 1.16b/Help/images/template_filled.PNG
tools/character_editor/SPNATI Character Editor 1.16b/Help/images/template3.PNG
tools/character_editor/SPNATI Character Editor 1.16b/Help/images/template2.png
tools/character_editor/SPNATI Character Editor 1.16b/Help/images/template1.png
tools/character_editor/SPNATI Character Editor 1.16b/Help/images/template0.png
tools/character_editor/SPNATI Character Editor 1.16b/Help/images/pose_list.png
tools/character_editor/SPNATI Character Editor 1.16b/Help/images/export.png
tools/character_editor/SPNATI Character Editor 1.16b/Help/images/ending_toolbar.png
tools/character_editor/SPNATI Character Editor 1.16b/Help/images/ending_speech.PNG
tools/character_editor/SPNATI Character Editor 1.16b/Help/images/ending_navigator.png
tools/character_editor/SPNATI Character Editor 1.16b/Help/images/ending2_small.PNG
tools/character_editor/SPNATI Character Editor 1.16b/Help/images/ending2.PNG
tools/character_editor/SPNATI Character Editor 1.16b/Help/images/ending1b.png
tools/character_editor/SPNATI Character Editor 1.16b/Help/images/ending1.png
tools/character_editor/SPNATI Character Editor 1.16b/Help/images/ending0.png
tools/character_editor/SPNATI Character Editor 1.16b/Help/images/dialogue_screen.png
tools/character_editor/SPNATI Character Editor 1.16b/Help/images/dialogue_case_description.PNG
tools/character_editor/SPNATI Character Editor 1.16b/Help/images/blush.PNG
tools/character_editor/SPNATI Character Editor 1.16b/Help/images/anger.PNG
tools/character_editor/SPNATI Character Editor 1.16b/Help/help.js
tools/character_editor/SPNATI Character Editor 1.16b/Help/help.html
tools/character_editor/SPNATI Character Editor 1.16b/Help/help.css
tools/character_editor/SPNATI Character Editor 1.16b/Help/file.html
tools/character_editor/SPNATI Character Editor 1.16b/Help/faq.html
tools/character_editor/SPNATI Character Editor 1.16b/Help/endings.html
tools/character_editor/SPNATI Character Editor 1.16b/Help/empty.html
tools/character_editor/SPNATI Character Editor 1.16b/Help/dialogue_tester.html
tools/character_editor/SPNATI Character Editor 1.16b/Help/dialogue.html
tools/character_editor/SPNATI Character Editor 1.16b/Help/creation.html
tools/character_editor/SPNATI Character Editor 1.16b/epilogue.html
tools/character_editor/SPNATI Character Editor 1.16b/dialogue_tags.xml
tools/character_editor/SPNATI Character Editor 1.16b/.DS_Store
tools/character_editor/SPNatI Character Editor 1.15/xml_encoding.txt
tools/character_editor/SPNatI Character Editor 1.15/update notes.txt
tools/character_editor/SPNatI Character Editor 1.15/SPNATI Character Editor.exe
tools/character_editor/SPNatI Character Editor 1.15/KisekaeImporter.dll
tools/character_editor/SPNatI Character Editor 1.15/Help/wardrobe.html
tools/character_editor/SPNatI Character Editor 1.15/Help/validation.html
tools/character_editor/SPNatI Character Editor 1.15/Help/topic.css
tools/character_editor/SPNatI Character Editor 1.15/Help/poses.html
tools/character_editor/SPNatI Character Editor 1.15/Help/overview.html
tools/character_editor/SPNatI Character Editor 1.15/Help/metadata.html
tools/character_editor/SPNatI Character Editor 1.15/Help/listing.html
tools/character_editor/SPNatI Character Editor 1.15/Help/images/tester.png
tools/character_editor/SPNatI Character Editor 1.15/Help/images/template_preview.png
tools/character_editor/SPNatI Character Editor 1.15/Help/images/template_filled.PNG
tools/character_editor/SPNatI Character Editor 1.15/Help/images/template3.PNG
tools/character_editor/SPNatI Character Editor 1.15/Help/images/template2.png
tools/character_editor/SPNatI Character Editor 1.15/Help/images/template1.png
tools/character_editor/SPNatI Character Editor 1.15/Help/images/template0.png
tools/character_editor/SPNatI Character Editor 1.15/Help/images/pose_list.png
tools/character_editor/SPNatI Character Editor 1.15/Help/images/export.png
tools/character_editor/SPNatI Character Editor 1.15/Help/images/ending_toolbar.png
tools/character_editor/SPNatI Character Editor 1.15/Help/images/ending_speech.PNG
tools/character_editor/SPNatI Character Editor 1.15/Help/images/ending_navigator.png
tools/character_editor/SPNatI Character Editor 1.15/Help/images/ending2_small.PNG
tools/character_editor/SPNatI Character Editor 1.15/Help/images/ending2.PNG
tools/character_editor/SPNatI Character Editor 1.15/Help/images/ending1b.png
tools/character_editor/SPNatI Character Editor 1.15/Help/images/ending1.png
tools/character_editor/SPNatI Character Editor 1.15/Help/images/ending0.png
tools/character_editor/SPNatI Character Editor 1.15/Help/images/dialogue_screen.png
tools/character_editor/SPNatI Character Editor 1.15/Help/images/dialogue_case_description.PNG
tools/character_editor/SPNatI Character Editor 1.15/Help/images/blush.PNG
tools/character_editor/SPNatI Character Editor 1.15/Help/images/anger.PNG
tools/character_editor/SPNatI Character Editor 1.15/Help/help.js
tools/character_editor/SPNatI Character Editor 1.15/Help/help.html
tools/character_editor/SPNatI Character Editor 1.15/Help/help.css
tools/character_editor/SPNatI Character Editor 1.15/Help/file.html
tools/character_editor/SPNatI Character Editor 1.15/Help/faq.html
tools/character_editor/SPNatI Character Editor 1.15/Help/endings.html
tools/character_editor/SPNatI Character Editor 1.15/Help/empty.html
tools/character_editor/SPNatI Character Editor 1.15/Help/dialogue_tester.html
tools/character_editor/SPNatI Character Editor 1.15/Help/dialogue.html
tools/character_editor/SPNatI Character Editor 1.15/Help/creation.html
tools/character_editor/SPNatI Character Editor 1.15/epilogue.html
tools/character_editor/SPNatI Character Editor 1.15/dialogue_tags.xml
tools/character_editor/SPNatI Character Editor 1.15/.DS_Store
tools/character_editor/.DS_Store
tools/.DS_Store
saves/reskinned_opponents/.DS_Store
saves/.DS_Store
tools/kkl/dist/META-INF/AIR/application.xml
tools/kkl/dist/META-INF/signatures.xml
tools/kkl/dist/META-INF/AIR/hash
tools/kkl/dist/META-INF/.DS_Store
tools/kkl/dist/kkl.swf
tools/kkl/dist/kkl.exe
tools/kkl/dist/k_kisekae2_swf/ysyatu10.swf
tools/kkl/dist/k_kisekae2_swf/tail1.swf
tools/kkl/dist/k_kisekae2_swf/ribon8.swf
tools/kkl/dist/k_kisekae2_swf/peni.swf
tools/kkl/dist/k_kisekae2_swf/mune_m20.swf
opponents/jasmine/.DS_Store
opponents/anothertest/meta.xml
opponents/anothertest/markers.xml
opponents/anothertest/behaviour.xml
opponents/.DS_Store
editor source/.DS_Store
config.xml
.DS_Store
opponents/miko/.gitkeep
config.xml
config.xml
config.xml
tools/kkl/dist/k_kisekae2_swf/allCharaSet3.swf
tools/kkl/dist/k_kisekae2_swf/ashi16.swf
tools/kkl/dist/k_kisekae2_swf/background11.swf
tools/kkl/dist/k_kisekae2_swf/bangs1.swf
tools/kkl/dist/k_kisekae2_swf/belt13.swf
tools/kkl/dist/k_kisekae2_swf/bodyDress1.swf
tools/kkl/dist/k_kisekae2_swf/bura11.swf
tools/kkl/dist/k_kisekae2_swf/chair17.swf
tools/kkl/dist/k_kisekae2_swf/character6.swf
tools/kkl/dist/k_kisekae2_swf/charaSet11.swf
tools/kkl/dist/k_kisekae2_swf/dou40.swf
tools/kkl/dist/k_kisekae2_swf/hair.swf
tools/kkl/dist/k_kisekae2_swf/hairBack.swf
tools/kkl/dist/k_kisekae2_swf/hairEx12.swf
tools/kkl/dist/k_kisekae2_swf/hand0_8.swf
tools/kkl/dist/k_kisekae2_swf/hand1_36.swf
tools/kkl/dist/k_kisekae2_swf/hane1.swf
tools/kkl/dist/k_kisekae2_swf/head53.swf
tools/kkl/dist/k_kisekae2_swf/horn.swf
tools/kkl/dist/k_kisekae2_swf/hukidashi5.swf
tools/kkl/dist/k_kisekae2_swf/mark10.swf
tools/kkl/dist/k_kisekae2_swf/mob5.swf
tools/kkl/dist/k_kisekae2_swf/mouth1.swf
tools/kkl/dist/k_kisekae2_swf/mune19.swf
tools/kkl/dist/k_kisekae2_swf/mune_m26.swf
tools/kkl/dist/k_kisekae2_swf/ribon15.swf
tools/kkl/dist/k_kisekae2_swf/sideburn2.swf
tools/kkl/dist/k_kisekae2_swf/tail2.swf
tools/kkl/dist/k_kisekae2_swf/ysyatu18.swf
