<?xml version="1.0" encoding="UTF-8"?>

<config>
    <debug>true</debug> <!-- true or false -->
    <epilogues>true</epilogues>
    <epilogues-unlocked>true</epilogues-unlocked>
    <epilogue_badges>true</epilogue_badges>
    <include-status>testing</include-status>
    <include-status>offline</include-status>
</config>
