<?xml version="1.0" encoding="UTF-8"?>

<config>
    <!--
        Enables or disables debug mode.
        While in-game, pressing Q will show debug mode options (if enabled).
    -->
    <debug>false</debug>

    <!--
        Default (startup) table fill mode.
        Valid options include "none", "default", and any highlight or status attribute
        value in listing.xml, so for example:
         - "none"
         - "new"
         - "testing"
         - "offline"
         - "incomplete"
    -->
    <default-fill>xmas</default-fill>

    <!-- Set to false to disable epilogue functionality. -->
    <epilogues>true</epilogues>

    <!-- Set to true to force all epilogues to appear as unlocked. -->
    <epilogues-unlocked>false</epilogues-unlocked>

    <!-- Set to true/false to disable collectible functionality. -->
    <collectibles>true</collectibles>

    <!-- Set to true to force all collectibles to appear as unlocked. -->
    <collectibles-unlocked>false</collectibles-unlocked>

    <!-- Set to false to disable alternate costume functionality.  -->
    <alternate-costumes>true</alternate-costumes>

    <!--
        Each <alternate-costume-sets> element specifies one costume set
        to enable in-game.

        Specifying 'all' in any alternate costume set option will
        enable all costume sets.
    -->
    <alternate-costume-sets>all</alternate-costume-sets>

    <!--
        Sets a single alternate costume set as the default.
        Other alternate costumes may still also be selectable,
        depending on the <alternate-costume-sets> options.
    -->
 <!-- <default-costume-set>valentines</default-costume-set> -->
 <!-- <default-costume-set>april_fools</default-costume-set> -->
 <!-- <default-costume-set>easter</default-costume-set> -->
 <!-- <default-costume-set>summer</default-costume-set>  -->
 <!-- <default-costume-set>halloween</default-costume-set>  -->
    <default-costume-set>xmas</default-costume-set>

    <!-- Set the default background option. -->
    <default-background>holiday lodge</default-background>

    <!--
        Enable or disable re-sort mode.
        Note that if you enable this option, you'll probably want to
        change the text for the re-sort dialog box in listing.xml.
        (Ctrl+F and search for "resort-modal")
    -->
    <resort>false</resort>

    <!--
        Show these opponent status groups in the main roster.
        (Opponents with no defined "status" in listing.xml are always shown.)
    -->
    <include-status>testing</include-status>
    <include-status>offline</include-status>
    <include-status>incomplete</include-status>
    <include-status>event</include-status>
</config>
