<?xml version="1.0" encoding="UTF-8"?>

<config>
    <debug>false</debug> <!-- true or false -->
    <epilogues>true</epilogues>
    <epilogues-unlocked>false</epilogues-unlocked>
    <collectibles>true</collectibles>
    <collectibles-unlocked>false</collectibles-unlocked>
    <epilogue_badges>true</epilogue_badges>
    <alternate-costumes>true</alternate-costumes>
    <alternate-costume-sets>all</alternate-costume-sets>
    <default-background>inventory</default-background>
    <resort>false</resort>
    <include-status>testing</include-status>
    <include-status>offline</include-status>
    <include-status>incomplete</include-status>
</config>
