.dialogue .smallbold[data-character="wikipe-tan"] {
  /*When you want text to be both small and bold.*/
  font-weight: 700;
  font-size: 83%;
}

.dialogue .smaller[data-character="wikipe-tan"] {
  /*For Wikipe-tan's infodumps.*/
  font-size: 70%;
}

.dialogue .smallerbold[data-character="wikipe-tan"] {
  /**/
  font-weight: 700;
  font-size: 70%;
}