.dialogue .vsmall[data-character="noire"] {
  /*very small*/
  font-size: 60%;
}

.dialogue .ivsmall[data-character="noire"] {
  /*very small italic*/
  font-style: italic;
  font-size: 60%;
}

.dialogue .igray[data-character="noire"] {
  /*gray italic*/
  color: Silver;
  font-style: italic;
}