.dialogue .color[data-character="fischl"] {
  /*ozspeak*/
  color: #734DB3;
  font-style: italic;
  text-shadow: 0 0 4px #BB77FF;
  font-size: 110%;
}

.dialogue .embarrassed[data-character="fischl"] {
  /**/
  font-size: 70%;
  text-shadow: 0 0 1px #B6B6B6;
  color: #2D2D2D;
}

.dialogue .chuuni[data-character="fischl"] {
  /**/
  font-style: normal;
  color: Black;
  text-shadow: 0 0 2px #B495F2;
}