a-epilogue-bg.png
a-epilogue-fcrop.png
a-epilogue-fcrop2.png
a-epilogue-fgift.png
a-epilogue-fphone.png
a-presenthand0.png
a-presenthand1-3.png
a-presenthand4-10.png

a-objection.png
a-pointbare.png
a-pointglove.png
a-pointshirt.png
edit-dialogue.txt
female epilogue.txt
poses.txt
poses.xml