.dialogue .fluttershy[data-character="ignatz"] {
  /*Used for Fluttershy's speaking in the hug event*/
  color: #FF80C0;
}

.dialogue .ignatz[data-character="ignatz"] {
  /*Used for Ignatz's speaking in the hug event*/
  color: #9ECB03;
}

.dialogue .takatoshi[data-character="ignatz"] {
  /**/
  color: #804000;
}