.dialogue .focused[data-character="ganyu"] {
  /*ganyu focused*/
  color: Black;
  font-size: 80%;
}

.dialogue .sleep[data-character="ganyu"] {
  /**/
  font-size: 75%;
  text-shadow: -1px 0 2px #8C8C8C;
  font-style: italic;
}

.dialogue .ganyu[data-character="ganyu"] {
  /*ganyu forfeit*/
  color: #6D94CD;
  font-size: 90%;
  font-weight: 700;
  font-style: italic;
  text-shadow: 0 0 2px #82B7F7;
}