.dialogue .donp[data-character="bobobo"] {
  /*This is for when Don Patch is speaking, even if we wish he wouldn't.*/
  color: #FF8000;
}

.dialogue .streets[data-character="bobobo"] {
  /*STREETS*/
  color: #FFE02F;
  text-shadow: 0 1px 1px #FF8040;
  font-size: 30px;
}