.dialogue .small[data-character="perona"] {
  /*small font*/
  color: Black;
  font-size: 9px;
}

.dialogue .negative[data-character="perona"] {
  /*Negative Hollow!*/
  text-shadow: 0 0 5px Black;
  font-weight: 700;
}

@font-face {
  font-family: Dancing Script;
  font-weight: 700;
  src: url(DancingScript-Bold.otf);
}
.dialogue .handwriting[data-character="perona"] {
  /**/
  font-weight: 700;
  font-family: Dancing Script;
  text-shadow: 1px 1px 5px #FFC4FF;
  font-size: 115%;
}
