.dialogue .small[data-character="perona"] {
  /*small font*/
  color: Black;
  font-size: 9px;
}

.dialogue .negative[data-character="perona"] {
  /*Negative Hollow!*/
  text-shadow: 0 0 5px Black;
  font-weight: 700;
}

.dialogue .handwriting[data-character="perona"] {
  /**/
  font-style: italic;
  font-weight: 700;
  font-family: Giddyup Std;
  text-shadow: 1px 1px 5px #FFC4FF;
  font-size: 19px;
}