.dialogue .small[data-character="perona"] {
  /*small font*/
  color: Black;
  font-size: 9px;
}

.dialogue .negative[data-character="perona"] {
  /*Negative Hollow!*/
  text-shadow: 0 0 5px Black;
  font-weight: 700;
}