.dialogue .rpgtext[data-character="aaravi"] {
  /*For when the game system Aaravi experiences makes a noise - levelling up, gaining an item, etc.*/
  font-size: 130%;
  color: #A8A800;
  font-variant: small-caps;
}