.dialogue .strike[data-character="komisan"] {
  /*Text is crossed out.*/
  text-decoration: line-through;
}

.dialogue .voice[data-character="komisan"] {
  /*Komi-san's speaking voice.*/
  font-size: 14px;
  font-style: italic;
  text-shadow: 1px 0 3px #D1B9EE;
}

.dialogue .title[data-character="komisan"] {
  /*Bolded small caps.*/
  font-variant: small-caps;
  font-weight: 700;
}