.dialogue .strike[data-character="komi-san"] {
  /*Text is crossed out.*/
  text-decoration: line-through;
}

.dialogue .voice[data-character="komi-san"] {
  /*Komi-san's speaking voice.*/
  font-size: 72%;
  text-shadow: 1px 0 3px #D1B9EE;
}

.dialogue .title[data-character="komi-san"] {
  /*Bolded small caps.*/
  font-variant: small-caps;
  font-weight: 700;
}

.dialogue .ink[data-character="komi-san"] {
  /*Text is written in blue.*/
  color: Navy;
}