.dialogue .Dread[data-character="mary"] {
  /*Used for Mary's dread lines*/
  color: #400040;
  font-style: italic;
  text-shadow: 3px -2px 3px #141414;
  font-size: 13pt;
}

.dialogue .smol[data-character="mary"] {
  /*for when text need be smol*/
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
}