.dialogue .Ryuji[data-character="futaba"] {
  /*This is an example style.*/
  color: #ECDF42;
}

.dialogue .Futaba[data-character="futaba"] {
  /**/
  color: #FF8000;
}

.dialogue .Yusuke[data-character="futaba"] {
  /**/
  color: #2337dc;
}

.dialogue .Haru[data-character="futaba"] {
  /**/
  color: #ff00cf;
}