/* --Font loading-- */

@font-face {
  font-family: "Determination Sans";
  src: url("DeterminationSansWebRegular.woff2") format("woff2"), url("DeterminationSansWebRegular.woff") format("woff");
}

@font-face {
  font-family: "Papyrus";
  src: url("Papyrus.woff2") format("woff2"), url("Papyrus.woff") format("woff");
}

/* --Styles-- */

.dialogue-bubble[data-character="frisk_and_friends"][data-dialogue-styles~="narrate"] {
  /*Narrated text has a black dialogue bubble*/ 
  background: black;
  border: 3px solid white;
  border-radius: 0;
}

.dialogue .narrate[data-character="frisk_and_friends"] {
  /*Narrated text is undertale font*/
  font-family: "Determination Sans";
  font-size: 1.25em;
  color: white;
}
.dialogue .orange[data-character="frisk_and_friends"] {
  /*Orange text for emphasis*/
  font-family: "Determination Sans";
  font-size: 1.25em;
  color: #FD8C2F;
}

.dialogue .pap[data-character="frisk_and_friends"] {
  /*Papyrus Font for Papyrus*/
  font-family: "Papyrus";
  font-size: 0.9em;
  line-height: 80%;
  font-weight: 700;
}