@font-face {
  font-family: Determination Sans;
  src: url(DeterminationSansWebRegular.ttf);
}

.dialogue .narrate[data-character="frisk_and_friends"] {
  /*Narrated text is undertale font*/
  font-family: Determination Sans;
  font-size: 1.25em;
}
.dialogue .orange[data-character="frisk_and_friends"] {
  /*Orange text for emphasis*/
  font-family: Determination Sans;
  font-size: 1.25em;
  color: #FD8C2F;
}

.dialogue .pap[data-character="frisk_and_friends"] {
  /*Papyrus Font for Papyrus*/
  font-family: Papyrus;
  font-size: 1em;
  line-height: 80%;
  font-weight: 700;
}