.dialogue .smaller[data-character="rosa"] {
  /*Literally for that one line.*/
  color: Black;
  font-size: 70%;
}

.dialogue .gloria[data-character="rosa"] {
  /*Gloria is speaking*/
  color: Green;
}

.dialogue .rosa[data-character="rosa"] {
  /*Rosa is speaking*/
  color: #0080FF;
}