.dialogue .mutter[data-character="sucrose"] {
  /*Small Text*/
  font-size: 75%;
}

.dialogue .trail[data-character="sucrose"] {
  /**/
  font-size: 55%;
}

.dialogue .finish[data-character="sucrose"] {
  /**/
  color: Teal;
  font-size: 60%;
}