.dialogue .fear[data-character="derpina"] {
  /*Used in a pitiful moment.*/
  color: #400080;
  font-size: 60%;
  background-color: ;
}

.dialogue .monstrous[data-character="derpina"] {
  /*Used by a foul being.*/
  background-color: Maroon;
  color: #5A0000;
  font-style: italic;
}