.dialogue .flower[data-character="nico_robin"] {
  /*Robin uses her ability*/
  color: #8203AB;
  font-weight: 700;
  text-shadow: 1px 1px 5px #8000FF;
}

.dialogue .robin[data-character="nico_robin"] {
  /*Robin's text*/
  color: #8203AB;
  font-weight: 700;
}

.dialogue .nami[data-character="nico_robin"] {
  /*Nami's text*/
  color: #FF8000;
  font-weight: 700;
}

.dialogue .perona[data-character="nico_robin"] {
  /*Perona's text*/
  color: Fuchsia;
  font-weight: 700;
}