.dialogue .bully[data-character="nagatoro"] {
  /*desc*/
  font-weight: 700;
}

.dialogue .quiet[data-character="nagatoro"] {
  /**/
  font-size: 75%;
  font-style: italic;
}

.dialogue .loud[data-character="nagatoro"] {
  /*desc*/
  font-size: 115%;
  font-weight: 700;
}