.dialogue .Rarity[data-character="rainbow_dash"] {
  /*For when Rarity talks in the end joint pose*/
  color: #6516F5;
}

.dialogue .Pinkie[data-character="rainbow_dash"] {
  /*For when Pinkie talks in the end joint pose*/
  color: #FF80C0;
}

.dialogue .Twilight[data-character="rainbow_dash"] {
  /*For when Twilight talks in the end joint pose*/
  color: #D789F3;
}

.dialogue .Rainbow[data-character="rainbow_dash"] {
  /*For when Rainbow talks in the end joint pose*/
  color: #2B9CF9;
}