.dialogue .julie[data-character="susie"] {
  /*Julie talking.*/
  color: #800040;
}

.dialogue .frank[data-character="susie"] {
  /*Frank talking.*/
  color: #0000A0;
}

.dialogue .joey[data-character="susie"] {
  /*Joey talking.*/
  color: Green;
}