@font-face {
    font-family: 'Verily Serif Mono';
    src: url('VerilySerifMono.woff2') format('woff2'),
        url('VerilySerifMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.monika-edited-dialogue {
    font-family: "Verily Serif Mono";
    font-weight: bold;
    font-size: 110%;
    text-shadow: 2px 0px 2px rgba(0, 0, 0, 1);
    -webkit-text-stroke: 2px black;
    z-index: 10;
}

.monika-overflow-bubble {
    overflow: visible;
    z-index: 10;
}

.monika-ext-dialogue-btn {
    cursor: pointer;
}

.monika-over-ui {
    z-index:2;
    pointer-events:none;
    height:80%;
    bottom:0;
    margin-bottom:0;
}

#game-screen .image-row {
    pointer-events: none;
}

.monika-over-ui.veryFarLeft {
    left:-110%;
}

.monika-over-ui.veryFarRight {
    right:-110%;
}

.monika-over-ui.farLeft {
    left:-75%;
}

.monika-over-ui.almostLeft {
    left:-25%;
}

.monika-over-ui.farRight {
    right:-75%;
}

.monika-over-ui.almostRight {
    right:-25%;
}

.monika-over-ui.centered {
    left:0;
}

.monika-choice-button-left {
    margin-right: 5%;
}

.monika-choice-button-right {
    margin-left: 15%;
}

.monika-joint-dialogue-container hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-color: #ccc;
}

.monika-joint-dialogue-1 {
    color: #74A300;
}

.monika-joint-dialogue-2 {
    color: #00A0BC;
}
