@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

html, body
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body
{
	font-family: "Segoe UI", arial;
	display: flex;
	flex-direction: column;
}

#header
{
	height: 30px;
	background-color: #07103A;
	color: white;
	font-weight: 400;
	text-align: center;
	padding-top: 5px;
	font-size: 120%;
}

#nav
{
	height: 30px;
	background-color: #9DA6CF;
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav
{
	display: flex;
}

#nav li
{
	flex: 1;
	background-color: #9DA6CF;
	text-align: center;
	padding: 2px 20px 5px 20px;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#nav a
{
	text-decoration: none;
	color: #172357;
}

#nav li:hover
{
	background-color: #172357;
}

#nav li:hover a
{
	color: white;
}

img
{
	max-width: 100%;
}

p
{
	margin: 10px 0 0 0;
}

#main
{
	flex: 1;
	overflow: auto;
}

.card
{
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	padding: 5px 10px 10px 10px;
	margin: 10px 5px;
}

.card h1, .card h2, .card h3, .card h4, .card h5
{
	margin: 0;
	color: #172357;
}

.card h1
{
	font-size: 120%;
}

.card h2
{
	font-size: 110%;
}

.card h3, .card h4
{
	font-size: 105%;
}

.card h5
{
	font-size: 100%;
}

.navCard
{
	text-align: center;
}

.label
{
	font-weight: bold;
}

/* Message Boxes */
.info, .success, .warning, .error {
font-size: 90%;
margin: 10px 0px;
padding:12px;
 
}
.info {
    background-color: #BDE5F8;
}
.info, .info h5 {
	color: #00529B !important;
}
.success {
    background-color: #DFF2BF;
}
.success, .success h5 {
	color: #4F8A10 !important;
}
.warning {
    background-color: #FEEFB3;
}
.warning, .warning h5 {
	color: #9F6000 !important;
}
.error {
    background-color: #FFBABA;
}
.error, .error h5 {
	color: #D8000C !important;
}
.info i, .success i, .warning i, .error i {
    margin:5px 12px;
    font-size:2em;
    vertical-align:middle;
}

.code
{
    word-break: break-all; 
    white-space: pre-wrap;
}

.data-table
{
    border-collapse: collapse;
}

.data-table,
.data-table th,
.data-table td
{
    border: 1px solid black;
}