*-kiss.png
*-relaxed-2.png
*-calm.png
parts
extra/nurse/refs
__pycache__
epilogue/images/*/exported
epilogue/images/*/exported-nohair
joint-forfeits/images/**/exported
joint-forfeits/images/**/exported-nohair
**/images/**/exported
**/images/**/exported-nohair
common.txt
code.txt
disassemble-extra
fixup_large_ep_sprites.py