@font-face {
    font-family: 'Omori2';
    src: url('fonts/OMORI_GAME2.woff') format("woff"),
         url('fonts/OMORI_GAME2.woff2') format("woff2");
    font-weight: normal;
    font-style: normal;
}

.dialogue-bubble[data-character="mari"][data-marker-enable-custom-box] {
    background: black;
    border: 2px solid white;
    border-radius: 0;
    padding: 0.3em 0.5em;
    top: 4%;

    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    min-height: 0;
}

.dialogue [data-character="mari"][data-marker-enable-custom-box] {
    color: white;
    font-family: "Omori2", "Open Sans", "Trebuchet MS", Helvetica, sans-serif;
    font-size: 150%;
    line-height: 0;
}

.dialogue-bubble[data-character="mari"][data-marker-enable-custom-box]::before {
    background: black;
    color: white;
    border: 2px solid;
    border-radius: 0;
    border-color: white;

    left: 0;
    top: 0;
    width: auto;
    height: auto;
    bottom: auto;

    content: "MARI";
    padding: 0.5em 0.25em;
    transform: translate(0.4em, -1.25em);

    font-family: "Omori2", "Open Sans", "Trebuchet MS", Helvetica, sans-serif;
    font-size: 150%;
    line-height: 0;
    clip-path: none;
}

.dialogue .mari[data-character="mari"] {
    color: #6A396D;
}

.dialogue .heris[data-character="mari"] {
    color: #527060;
}

.dialogue .setogaya[data-character="mari"] {
    color: #d74d5e;
}
