html, body
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #303C74;
}

body
{
	display: flex;
	font-family: "Segoe UI", arial;
}

.toc
{
	width: 200px;
	background-color: #737FA3;
	padding: 2px;
    overflow: auto;
}

.toc > h1
{
	font-size: 20pt;
	margin: 5px 0;
	padding-left: 5px;
}

.toc ul
{
	list-style: none;
	padding: 2px;
	margin: 0;
}

.topic
{
	text-transform: uppercase;
	font-variant: small-caps;
	cursor: default;
	font-size: 90%;
	color: #DDD;	
}

.topic:not(:first-of-type)
{
	margin-top: 10px;
}

.section
{
	padding-left: 5px;
	color: #07103A;
}

.section:hover
{
	background-color: #9FA7CF;
	transition: background 0.2s ease-in;
	cursor: pointer;
}

#mainFrame
{
	flex: 1;
	border: 0;
	height: 100%;
}
