.dialogue .Twilight[data-character="rarity_eg"] {
  /*Purple font for what Twilight says*/
  color: #8000FF;
}

.dialogue .Rarity[data-character="rarity_eg"] {
  /*Dark blue font for what Rarity says*/
  color: #004080;
}

.dialogue .Pinkie[data-character="rarity_eg"] {
  /*Pink font for what Pinkie says*/
  color: #FF80C0;
}

.dialogue .Rainbow[data-character="rarity_eg"] {
  /*Lighter blue font for what Rainbow says*/
  color: #0080FF;
}