.dialogue .Natsuki[data-character="natsuki"] {
  /*For a very special interaction with amy. */
  color: #FF80FF;
  text-decoration: underline;
  font-size: 15px;
}

.dialogue .Amy[data-character="natsuki"] {
  /*For a very special interaction. */
  color: #DD2828;
  text-decoration: overline;
  font-weight: 500;
}