.dialogue .brigid[data-character="petra"] {
  /*Speaking Brigid language*/
  color: #804840;
}

.dialogue .petra[data-character="petra"] {
  /*When Petra is speaking in a dual FF case*/
  color: #8000FF;
}

.dialogue .leonie[data-character="petra"] {
  /*When Leonie is speaking in a dual FF case*/
  color: #FF8040;
}